{% extends 'base.html' %}
{% block content %}

    <div class="row mb-4">
        {% if blogs %}
        {% for post in blogs %}
        <div class="col-md-6">
            <span class="badge badge-warning mb-3">
                Search Term - {{keyword}}
            </span>
            <div class="card border-0">

                <div class="card-body">

                    <span class="text-primary font-weight-bold">
                        {{post.category}}
                    </span>

                    <h3 class="mt-2">
                        {{post.title}}
                    </h3>

                    <small class="mb-2 text-muted d-block">
                        {{post.created_at | timesince }} ago | {{post.author}}
                    </small>

                    <p class="card-text">
                        {{post.short_description | truncatewords:25 }}
                    </p>
                    <a href="{% url 'blogs' post.slug %}" class="btn btn-sm btn-outline-dark">
                        Read More →
                    </a>

                </div>

            </div>
        </div>
        
        {% endfor %}
        {% else %}
        <p>No posts found</p>
        {% endif %}

{% endblock %}